body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f6f9;
}

.card {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}