body {
    font-family: Arial;
    background: #eef2f7;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background: rgb(7, 6, 6);
}

.form-card {
    width: 50%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    width: 100%;
}

.recent-section {
    width: 50%;
    margin: 20px auto;
}

.expense-item {
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.note-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.note-container input {
    flex: 1;
}

.mic-btn {
    width: 45px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.mic-btn.recording {
    background: red;
}

.mic-btn {
    width: 50px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
}

.mic-btn:hover {
    transform: scale(1.1);
}

.mic-btn.recording {
    background: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}