* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */



.navbar {
    height: 70px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* move menu to right */
    padding: 0 40px;
}

.logo {
    width: 200px;
    /* Logo size */
    height: auto;
    position: fixed;
    /* Stay in corner */
    top: -25px;
    /* Distance from top */
    left: 05px;
    /* Distance from right */
    z-index: 1000;
    /* Always on top */
}


.navbar nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #f3d1d1;
    font-weight: 500;
}

.login-btn {
    padding: 7px 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


body {
    font-family: Arial, sans-serif;
    background: #eef2f7;
    margin: 0;
}

/* NAVBAR */

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #e8e5e5;
    font-weight: 500;
}

.nav-links .active {
    background: #3b82f6;
    color: white;
    padding: 6px 14px;
    border-radius: 8px;
}




/* FORM CARD */
.form-card {
    background: white;
    width: 80%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.form-row div {
    width: 48%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* MIC STYLE */
.mic-input {
    display: flex;
    align-items: center;
}

.mic-input input {
    flex: 1;
}

.mic-btn {
    margin-left: 8px;
    padding: 8px 12px;
    border: none;
    background: #3b82f6;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.mic-btn:hover {
    background: #2563eb;
}

.mic-btn.listening {
    background: red;
}

/* BUTTON */
.add-btn {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
}

/* RECENT SECTION */
.recent-section {
    width: 70%;
    margin: 20px auto;
}

.expense-item {
    background: white;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expense-details {
    font-size: 14px;
    color: #666;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}