body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f7fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */



.navbar {
    height: 70px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* move menu to right */
    padding: 0 40px;
}

.logo {
    width: 200px;
    /* Logo size */
    height: auto;
    position: fixed;
    /* Stay in corner */
    top: -25px;
    /* Distance from top */
    left: 05px;
    /* Distance from right */
    z-index: 1000;
    /* Always on top */
}

.navbar nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #f3d1d1;
    font-weight: 500;
}

.form-card {
    width: 50%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background: #3b82f6;
    color: white;
    border: none;
    width: 100%;
}

.recent-section {
    width: 50%;
    margin: 20px auto;
}

.expense-item {
    background: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.note-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.note-container input {
    flex: 1;
}

.mic-btn {
    width: 45px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.mic-btn.recording {
    background: red;
}

.mic-btn {
    width: 50px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
}

.mic-btn:hover {
    transform: scale(1.1);
}

.mic-btn.recording {
    background: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}