* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */



.navbar {
    height: 70px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* move menu to right */
    padding: 0 40px;
}

.logo {
    width: 200px;
    /* Logo size */
    height: auto;
    position: fixed;
    /* Stay in corner */
    top: -25px;
    /* Distance from top */
    left: 05px;
    /* Distance from right */
    z-index: 1000;
    /* Always on top */
}


.navbar nav a {
    text-decoration: none;
    margin: 0 15px;
    color: #f3d1d1;
    font-weight: 500;
}

.login-btn {
    padding: 7px 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero Section */

.hero {
    min-height: 90vh;
    background: linear-gradient(to right, #adbbdb, #aabff6, #2563eb);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    color: white;
}

.hero-content {
    max-width: 800px;
}

/* Tag */

.tag {
    background: rgba(255, 255, 255, 0.15);
    padding: 8px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
}

/* Heading */

.hero h1 {
    font-size: 52px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero h1 span {
    color: #38bdf8;
}

/* Text */

.hero p {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 30px;
}

/* Buttons */

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.primary-btn {
    padding: 12px 25px;
    background: #3b82f6;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.secondary-btn {
    padding: 12px 25px;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover */

.primary-btn:hover {
    background: #2563eb;
}

.secondary-btn:hover {
    background: white;
    color: #1e3a8a;
}

/* Profile Icon */

.profile-box {
    cursor: pointer;
    margin-left: 15px;
}

.profile-pic {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid white;
}

/* Profile Panel */

.profile-panel {
    position: fixed;
    top: -400px;
    right: 20px;
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
    z-index: 2000;
}

.profile-panel.active {
    top: 85px;
}

.profile-panel h3 {
    text-align: center;
    margin-bottom: 15px;
}

.profile-img-box {
    text-align: center;
}

.profile-img-box img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-img-box input {
    width: 100%;
}

.profile-panel button {
    width: 100%;
    padding: 9px;
    margin-top: 10px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.logout-btn {
    background: #dc2626 !important;
}