* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f7fc;
}

/* ================= NAVBAR ================= */

.navbar {
    height: 70px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* FIXED */
    padding: 0 40px;
}

.logo {
    width: 160px;
    height: auto;
}

.navbar nav {
    display: flex;
    align-items: center;
}

.navbar nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #f3d1d1;
    font-weight: 500;
}

.login-btn {
    padding: 7px 15px;
    background: #2563eb;
    color: white;
    border-radius: 5px;
}

/* ================= CARDS ================= */

.cards {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 22%;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 8px;
}

/* ================= CHARTS ================= */

.charts {
    display: flex;
    justify-content: space-around;
    margin: 30px 20px;
}

.chart-box {
    background: white;
    padding: 25px;
    width: 45%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}