* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #010305, #050606);
}

.container {
    background: white;
    padding: 40px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.input-group {
    margin-bottom: 25px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background: #369bf3;
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

.link {
    text-align: center;
    margin-top: 15px;
    font-size: 16px;
}

.link a {
    color: #4facfe;
    text-decoration: none;
}