<!DOCTYPE html>
<html>

<head>
    <title>Smart Spend Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <h1>💰 Smart Spend Analyzer</h1>

    <input type="file" id="fileInput" accept=".csv">

    <div class="card">
        <h2>Financial Health Score</h2>
        <h3 id="score">--</h3>
    </div>

    <canvas id="chart"></canvas>

    <div class="card">
        <h2>AI Insights</h2>
        <p id="insights"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>